.opt1 {
    color: yellow;
    background-color: brown;
    text-decoration: double solid blue;
}


.opt2 {
    color: pink;
    background-color: red;
}


.opt3 {
    color: midnightblue;
    background-color: lightcoral;
}
